<!-- Part 1: Routes, Templates, and Views -->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

    <body>

        "Hello World"

        <br>
        
<!-- Part 3 - Create a Download Button That Makes a Request to Your Express Server on Click -->

        <img src="images/2026-nba-champions-knicks.png" alt="Image of New York Knicks" width="300"/>

        <br>

        <a href="/download-image">

            <button>Downloag Image</button>

        </a>

        <br>
        
<!-- Create a basic form in at least one view that sends a POST request to a route within your application. -->

        <form action="/submit" method="POST" >

            <input type="text" name="firstName" />

            <button>Submit</button>
            
        </form>

        

    </body>

</html>