<!-- Part 1: Routes, Templates, and Views -->

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

    <body>

        "Hello World"
        
<!-- Create a basic form in at least one view that sends a POST request to a route within your application. -->

        <form action="/submit" method="POST" >

            <input type="text" name="firstName" />

            <button>Submit</button>
            
        </form>

        

    </body>

</html>